.content {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  border-right: 1px solid #ccc;
}

app-note-list {
  width: 25%;
  background-color: #bb1616;
  padding: 10px;
}

.add-button {
  background-color: #adadad;
  color: #b7e79c;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button svg {
  width: 20px;
  height: 20px;
  fill: rgba(99, 148, 128, 0.94);
}

.add-button:hover {
  background-color: #ff5959;
}
