.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0288D1;
  color: #fff;
  padding: 10px;
}

.content {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  border-right: 1px solid #ccc;
}

app-note-list {
  width: 25%;
  background-color: #ffffff;
  padding: 10px;
  border-right: 1px solid #ccc;
}

app-note-details {
  background-color: #B2EBF2;
  max-width: 100%;
  flex: 1;
  overflow: auto;
}

.add-button {
  background-color: #00BCD4;
  color: #b7e79c;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button svg {
  width: 20px;
  height: 20px;
  fill: rgb(255, 255, 255);
}

.add-button:hover {
  background-color: #ff5959;
}
