ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  background-color: #BDBDBD;
  border-radius: 5px;
  margin-bottom: 20px;
}

li:hover {
  background-color: #B3E5FC;
}


